.env
/__pycache__
*.bat
.idea/Ascenso Total Manager.iml
.idea/dataSources.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
manager.db
owner.py~
cogs/owner.py
cogs/owner.py
/cogs/__pycache__
cogs/owner.py
db/__pycache__/club_queries.cpython-312.pyc
db/__pycache__/database.cpython-312.pyc
db/__pycache__/jugador_queries.cpython-312.pyc
db/__pycache__/database.cpython-312.pyc
data/__pycache__/nombres_jugadores.cpython-312.pyc
db/__pycache__/club_queries.cpython-312.pyc
db/__pycache__/database.cpython-312.pyc
utils/__pycache__/generator.cpython-312.pyc
views/__pycache__/plantilla_view.cpython-312.pyc
/db/__pycache__
